.c-robots {
    text-align: center;
    position: relative;
}

.c-robots__title {
    padding: 0 10px 20px;
    margin-bottom: 25px;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 345px;
        height: 1px;
        background-color: palette(primary);
    }
}

.c-robots__slider {
    margin-top: 50px;
    position: relative;   
    @media (min-width: 768px) {
        margin-bottom: 8px;
    }
    .swiper-container {
        max-height: 290px;
    }
    .swiper-button-prev,
    .swiper-button-next {
        @media (max-width: 767px) {
            display: none;
        }
    }
}

.c-robots-slider__img {
    position: relative;
}


.c-robots-slider__icon-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include font(x-md, 16, 400);
    color: #fff;
    img {
        margin: 0 auto 14px;
    }
}

.c-robots-slider__text {
    margin-top: 8px;
    @include font(x-md, 22, 400);
    color: palette(color-grey);
}
