.c-banner-aside {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    top: 0;
    left: 100%;
    transform: translateX(-14px);
    transition: all ease 0.3s;
    z-index: 2;
    &.open-tab {
        transform: translateX(-853px);
    }
}

.c-banner-aside__toggle {
    width: 14px;
    min-width: 14px;
    height: 240px;
    position: relative;
    background-color: palette(primary);
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
        .open-tab & {
            transform: translate(-50%, -50%) rotate(0);
        }
    }
}

.c-banner-aside__tabs {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
}

.c-banner-aside__tab-list {
    width: 111px;
    min-width: 111px;
    height: 240px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #555455;
    display: flex;
    flex-direction: column;
}

.c-banner-aside__tab-item {
    height: 33.333%;
    @include font(sm, 19, 300);
    position: relative;
    &:not(:last-child) {
        border-bottom: 1px solid #484748;
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #fff;
    }
}

.c-banner-aside__tab-item.active {
    border-top: 2px solid palette(primary);
    border-bottom: 2px solid palette(primary);
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        width: 2px;
        height: 100%;
        background-color: #1f1f1d;
        z-index: 1;
    }
    a {
        color: palette(primary);
    }
}

.c-banner-aside__tab-content {
    min-width: 742px;
    max-width: 742px;
    height: 100%;
    background-color: #1f1f1d;
    padding: 80px 52px 30px;
    position: relative;
    text-align: center;
    border-left: 2px solid palette(primary);
}

.c-aside-tab__close {
    position: absolute;
    top: 13px;
    left: 18px;
    color: #fff;
    @include font(x-xs, 14, 300);
    letter-spacing: 0.5px;
}

.c-aside__close-icon {
    display: block;
    width: 16px;
    height: 16px;
    margin: auto;
    margin-bottom: 7px;
    position: relative;
    &:before, &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 21px;
        height: 2px;
        background-color: #fff;
        transform-origin: center center;
    }
    &:before {
        transform: translate(-50%) rotate(45deg);
    }
    &:after {
        transform: translate(-50%) rotate(-45deg);
    }
}

.c-aside-tab__list {
    display: flex;
}

.c-aside-tab__item {
    width: 33.33333%;
    padding: 0 12px 57px;
    position: relative;
    .c-button--primary {
        position: absolute;
        left: 12px;
        bottom: 0;
        display: inline-block;
        width: calc(100% - 24px);
    }
}

.c-aside-tab__header {
    padding: 0 70px 105px; 
}

.c-aside-tab__title {
    letter-spacing: 1.35px;
}

.c-aside-tab__item {
    h5 {
        letter-spacing: 0.85px;
        margin-bottom: 15px;
    }
    img {
        margin-bottom: 15px;
    }
}

.c-aside-tab__text {
    margin-bottom: 0;
    line-height: 1.43;
}

.c-aside-tab__link {
    display: inline-block;
    color: palette(primary);
    line-height: 1.43;
    text-decoration: underline; 
}

.c-aside-tab__footer{
    padding-top: 22px;
    img {
        margin-left: auto;
    }
}