$_color-primary-300: #f47821 !default;

$_color-secondary-300: #4d4c4d !default;
$_color-secondary-200: #828182 !default;

$_color-text-300: $_color-secondary-300 !default;

$_color-grey-200: #f6f6f6 !default;
$_color-grey-300: #dcdcdc !default;
$_color-grey-400: #4c5e69 !default;
$_color-grey-500: #4c5e69 !default;

$_color-yellow-300: #ffe500 !default;

$palettes: (
        'primary': (
                base: $_color-primary-300,
        ),
        'secondary': (
                200: $_color-secondary-200,
                base: $_color-secondary-300,
        ),
        'text': (
                base: $_color-text-300,
        ),
        'color-grey': (
                200: $_color-grey-200,
                base: $_color-grey-300,
                400: $_color-grey-400,
                500: $_color-grey-500,
        ),
        'color-yellow': (
                base: $_color-yellow-300,
        ),
);

