/* ==========================================================================
   Config settings
   ========================================================================== */

// Predefined breakpoint
$xl : 1200px;
$lg : 992px;
$md : 768px;
$sm : 576px;

.container {
    @media (min-width: 1240px) {
        max-width: 1210px;
    }
}


