/* ==========================================================================
 * Basic elements (no class selectors allowed)
 * ========================================================================== */

/**
 * Set up the html
 *
 * 1. Makes sure that some fonts are better rendered
 * 2. Set font to lining figures
 */
html {
  box-sizing: border-box;

}

body {
  margin: 0;
  @include font-size(base);
  line-height: $line-height-ratio;
  @include font-family(base);
  font-weight: 400;
  color: #fff;
}


/**
 * [1] Make sure elements like input and textarea inherit some base properties
 *     https://www.smashingmagazine.com/2016/11/css-inheritance-cascade-global-scope-new-old-worst-best-friends/
 *
 * [2] Setting box-sizing the best way per:
 *     https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;

  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

/**
 * [1] Turn off text-shadow when selecting text for better readability
 */
::selection {
  color: inherit;
  text-shadow: none; /* [1] */
}

/* Remove default margin around figure
 */
figure {
  margin: 0;
}

/**
 * [1] Setting 'vertical-align' removes the whitespace that appears under 'img'
 *	   elements when they are dropped into a page as-is. Safer alternative to
 *	   using 'display: block;'.
 * [2] Remove border / especially on older browsers
 */
img, svg {
  display: block;
  vertical-align: middle; /*[1]*/
  border: none; /*[2]*/
  max-width: 100%;
  height: auto;
}


a {
  color: palette(secondary);
  text-decoration-skip-ink: auto; // pretty underlining links
  text-decoration: none;
}

// Reset all top and bottom margins
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd, figure,
pre,table,fieldset,hr {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0 0 10px;
  line-height: 1.29;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
  }
}

.bg-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-pattern-orange {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../img/orange-pattern.png");
    background-size: 41px 41px;
    background-repeat: repeat;
    z-index: -1;
  }
}

.bg-pattern-dark {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../img/dark-pattern.png");
    background-size: 41px 41px;
    background-repeat: repeat;
    z-index: -1;
  }
}

.light-grey-bg{
  background-color: palette(color-grey);
  color: palette(text);
}

.dark-grey-bg{
  background-color: palette(secondary);
}

.border-block {
  display: block;
  @media (min-width: 768px) {
    h1, h2, h3, h4, h5, p {
      display: inline-block;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 450px;
        height: 3px;
        background-color: palette(primary);
      }
    }
  }
  h2 {
    @media (min-width: 768px) {
      padding-bottom: 25px;
    }
  }
}